<a href="https://colab.research.google.com/github/himios55/test01.ipynb/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
uriage_data=pd.read_csv('/content/drive/My Drive/100本ノック/2章/uriage.csv')
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [37]:
kokyaku_data=pd.read_excel('/content/drive/My Drive/100本ノック/2章/kokyaku_daicho.xlsx')
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [38]:
uriage_data['purchase_date']=pd.to_datetime(uriage_data['purchase_date'])
uriage_data['purchase_month']=uriage_data['purchase_date'].dt.strftime('%Y%m')
res=uriage_data.pivot_table(index='purchase_month',columns='item_name',aggfunc='size',fill_value=0)

In [39]:
res

item_name         商品W   商 品 n   商品E   商品M   商品P  ...  商品s  商品t  商品v  商品x  商品y
purchase_month                                   ...
201901              0       1     0     0     0  ...    0    0    0    0    0
201902              0       0     0     0     0  ...    1    1    1    0    0
201903              0       0     1     1     1  ...    0    0    0    0    0
201904              1       0     0     0     0  ...    1    0    0    0    0
201905              0       0     0     0     0  ...    0    0    0    0    1
201906              0       0     0     0     0  ...    0    0    0    1    0
201907              0       0     0     0     0  ...    0    0    0    0    0

[7 rows x 99 columns]

In [40]:
res=uriage_data.pivot_table(index='purchase_month',columns='item_name',aggfunc='sum',fill_value=0)
res

               item_price                          ...
item_name             商品W  商 品 n  商品E   商品M   商品P  ...   商品s   商品t   商品v   商品x   商品y
purchase_month                                     ...
201901                  0   1400    0     0     0  ...     0     0     0     0     0
201902                  0      0    0     0     0  ...  1900  2000  2200     0     0
201903                  0      0  500  1300  1600  ...     0     0     0     0     0
201904               2300      0    0     0     0  ...  1900     0     0     0     0
201905                  0      0    0     0     0  ...     0     0     0     0  2500
201906                  0      0    0     0     0  ...     0     0     0  2400     0
201907                  0      0    0     0     0  ...     0     0     0     0     0

[7 rows x 99 columns]

In [41]:
len(pd.unique(uriage_data.item_name))

99

In [42]:
uriage_data['item_name']=uriage_data['item_name'].str.upper()
uriage_data['item_name']=uriage_data['item_name'].str.replace(' ','')
uriage_data['item_name']=uriage_data['item_name'].str.replace('　','')
uriage_data.sort_values(by=['item_name'],ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1748 2019-05-19 20:22:22       商品A       100.0          松川綾女         201905
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:52       商品Y         NaN          田辺光洋         201904
2881 2019-04-30 14:21:09       商品Y         NaN          高原充則         201904
1525 2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹         201901
1361 2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902

[2999 rows x 5 columns]

In [43]:
uriage_data['item_name'].unique()

array(['商品A', '商品S', '商品Z', '商品V', '商品O', '商品U', '商品L', '商品C', '商品I',
       '商品R', '商品X', '商品G', '商品P', '商品Q', '商品Y', '商品N', '商品W', '商品E',
       '商品K', '商品B', '商品F', '商品D', '商品M', '商品H', '商品T', '商品J'],
      dtype=object)

In [44]:
len(pd.unique(uriage_data['item_name']))

26

In [45]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [46]:
flg_is_null=uriage_data['item_price'].isnull()
flg_is_null

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

In [47]:
~flg_is_null

0        True
1       False
2       False
3        True
4       False
        ...
2994     True
2995     True
2996    False
2997    False
2998     True
Name: item_price, Length: 2999, dtype: bool

In [48]:
flg_is_null

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

# 新しいセクション

# 新しいセクション

In [49]:
uriage_data.loc[flg_is_null,'item_name'].unique()

array(['商品S', '商品A', '商品P', '商品N', '商品W', '商品R', '商品I', '商品L', '商品F',
       '商品O', '商品B', '商品C', '商品V', '商品Q', '商品U', '商品K', '商品T', '商品X',
       '商品E', '商品M', '商品G', '商品J', '商品D', '商品H', '商品Y'], dtype=object)

In [50]:
flg_is_null=uriage_data['item_price'].isnull()
for trg in list(uriage_data.loc[flg_is_null,'item_name'].unique()):
    price=uriage_data.loc[(~flg_is_null) & (uriage_data['item_name']==trg),'item_price'].max()
    uriage_data['item_price'].loc[(flg_is_null)& (uriage_data['item_name']==trg)]=price
uriage_data.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2 2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904